/* Warm Colors Theme */

:root {
  --primary-color: #6A0572; /* Deep Purple */
  --secondary-color: #E27D60; /* Salmon */
  --accent-color: #FFAA5E; /* Apricot */
  --background-color: #F7E4B2; /* Pale Yellow */
  --text-color: #004080; /* Navy Blue */
}

body {
  font-family: 'Roboto', sans-serif;;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header Styles */
header {
  background-color: var(--primary-color);
  padding: 10px;
  color: white;
}

/* Sidebar Styles */
.sidebar {
  background-color: var(--accent-color);
  color: white;
  padding: 10;
  border-radius: 20px;
}


/* Navigation List Styles */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 20px;
}

li {
  font-size: 30px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: red;
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}

/* MapLibre buttons */
.maplibregl-ctrl-group {
  position: relative;
  right: 5px;
}

.maplibregl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

/* Bug. Afegit per a que es vegi el selector que permet moure la comparació maplibre-gl-compare */
.maplibregl-compare {
  top: 0px;
  margin-right: 50%;
  background-color: #ffa700 !important;
  width: 3px !important;
  z-index: 99999;
}
.maplibregl-ctrl button:not(:disabled):hover {
  background-color: rgb(0 0 0/5%);
  border-radius: 50%;
}

/* .maplibregl-ctrl-top-right {
  display: none !important;
}

.maplibregl-ctrl-zoom-in {
  display: none !important;
}
.maplibregl-ctrl-zoom-out {
  display: none !important;
} */

/* Bug. Afegit per a que es vegi el selector que permet moure la comparació maplibre-gl-compare */
/* Per canviar colors s'ha de canviar el svg */
.maplibregl-compare .compare-swiper-vertical {
  background-color: #fabc20 !important; /* primaryColor */
  /*  box-shadow: inset 0 0 0 3px #161b24 !important;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://creativecommons.org/ns%23' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' width='60' height='60' version='1.1' viewBox='0 0 60 60' id='svg5434' inkscape:version='0.91+devel+osxmenu r12911' sodipodi:docname='l-r.svg'%3E%3Cmetadata id='metadata5444'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3Cdc:title%3E%3C/dc:title%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cdefs id='defs5442' /%3E%3Csodipodi:namedview pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1' objecttolerance='10' gridtolerance='10' guidetolerance='10' inkscape:pageopacity='0' inkscape:pageshadow='2' inkscape:window-width='1286' inkscape:window-height='751' id='namedview5440' showgrid='true' inkscape:zoom='4' inkscape:cx='25.889831' inkscape:cy='34.381833' inkscape:window-x='0' inkscape:window-y='23' inkscape:window-maximized='0' inkscape:current-layer='svg5434' inkscape:object-nodes='true' inkscape:snap-smooth-nodes='true'%3E%3Cinkscape:grid type='xygrid' id='grid5989' /%3E%3C/sodipodi:namedview%3E%3Cpath style='fill:%23161b24;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1' d='M 25 24 L 16 30 L 25 36 L 25 24 z M 35 24 L 35 36 L 44 30 L 35 24 z ' id='path5995' /%3E%3C/svg%3E") !important; */
  z-index: 99999;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl-group button {
  width: 40px;
  height: 40px;
  /*   cursor: pointer; */
}
.maplibregl-ctrl-bottom-right .maplibregl-ctrl-group button {
  width: 40px;
  height: 40px;
  /*  cursor: pointer; */
}

.maplibregl-ctrl-bottom-left
  .maplibregl-ctrl-group
  button
  svg
  g
  path:nth-of-type(2) {
  fill: #110e0f !important;
}
.maplibregl-ctrl-bottom-right
  .maplibregl-ctrl-group
  button
  svg
  g
  path:nth-of-type(2) {
  fill: #110e0f !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-geolocate .maplibregl-ctrl-icon {
  background-size: 70%;
}

.maplibregl-ctrl
  button.maplibregl-ctrl-geolocate:disabled
  .maplibregl-ctrl-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4C9 4 9 5 9 5v.1A5 5 0 0 0 5.1 9H5s-1 0-1 1 1 1 1 1h.1A5 5 0 0 0 9 14.9v.1s0 1 1 1 1-1 1-1v-.1a5 5 0 0 0 3.9-3.9h.1s1 0 1-1-1-1-1-1h-.1A5 5 0 0 0 11 5.1V5s0-1-1-1zm0 2.5a3.5 3.5 0 1 1 0 7 3.5 3.5 0 1 1 0-7z'/%3E%3Ccircle id='dot' cx='10' cy='10' r='2'/%3E%3Cpath id='stroke' d='M14 5l1 1-9 9-1-1 9-9z'/%3E%3C/svg%3E");
  fill: #000;
}

.maplibregl-ctrl-compass {
  cursor: pointer !important;
}
/* .maplibregl-ctrl-bottom-left .maplibregl-ctrl-ruler {
  border-radius: 50px;
}
.maplibregl-ctrl-bottom-right .maplibregl-ctrl-ruler {
  border-radius: 50px;
} */

.maplibregl-ctrl-bottom-left .maplibregl-ctrl-group {
  border-radius: 50px;
}
.maplibregl-ctrl-bottom-right .maplibregl-ctrl-group {
  border-radius: 50px;
}

.maplibregl-ctrl-bottom-left .maplibregl-ctrl-icon-control-pitch {
  border-radius: 50px;
}

.maplibregl-ctrl-bottom-right .maplibregl-ctrl-icon-control-pitch {
  border-radius: 50px;
}

.maplibregl-ctrl-bottom-left
  .maplibregl-ctrl-icon-maplibregl-ctrl-pitchtoggle-3d {
  border-radius: 50px;
}
.maplibregl-ctrl-bottom-right
  .maplibregl-ctrl-icon-maplibregl-ctrl-pitchtoggle-3d {
  border-radius: 50px;
}

.maplibregl-ctrl-pitchtoggle-3d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjNEPC90ZXh0Pjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 5px;
  height: 5px;
  position: relative;
}

.maplibregl-ctrl-pitchtoggle-2d {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+ICAgIDx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkeT0iLjM1ZW0iIHN0eWxlPSJmb250LXNpemU6IDE0cHg7IGZvbnQtZmFtaWx5OiAnSGVsdmV0aWNhIE5ldWUnLEFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmOyBmb250LXdlaWdodDogYm9sZDsgdGV4dC1hbmNob3I6IG1pZGRsZTsiPjJEPC90ZXh0Pjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  width: 5px;
  height: 5px;
  position: relative;
}

.maplibregl-export-control {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools --%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 16.75H16C15.8011 16.75 15.6103 16.671 15.4697 16.5303C15.329 16.3897 15.25 16.1989 15.25 16C15.25 15.8011 15.329 15.6103 15.4697 15.4697C15.6103 15.329 15.8011 15.25 16 15.25H18C18.3315 15.25 18.6495 15.1183 18.8839 14.8839C19.1183 14.6495 19.25 14.3315 19.25 14V10C19.25 9.66848 19.1183 9.35054 18.8839 9.11612C18.6495 8.8817 18.3315 8.75 18 8.75H6C5.66848 8.75 5.35054 8.8817 5.11612 9.11612C4.8817 9.35054 4.75 9.66848 4.75 10V14C4.75 14.3315 4.8817 14.6495 5.11612 14.8839C5.35054 15.1183 5.66848 15.25 6 15.25H8C8.19891 15.25 8.38968 15.329 8.53033 15.4697C8.67098 15.6103 8.75 15.8011 8.75 16C8.75 16.1989 8.67098 16.3897 8.53033 16.5303C8.38968 16.671 8.19891 16.75 8 16.75H6C5.27065 16.75 4.57118 16.4603 4.05546 15.9445C3.53973 15.4288 3.25 14.7293 3.25 14V10C3.25 9.27065 3.53973 8.57118 4.05546 8.05546C4.57118 7.53973 5.27065 7.25 6 7.25H18C18.7293 7.25 19.4288 7.53973 19.9445 8.05546C20.4603 8.57118 20.75 9.27065 20.75 10V14C20.75 14.7293 20.4603 15.4288 19.9445 15.9445C19.4288 16.4603 18.7293 16.75 18 16.75Z' fill='%23000000'/%3E%3Cpath d='M16 8.75C15.8019 8.74741 15.6126 8.66756 15.4725 8.52747C15.3324 8.38737 15.2526 8.19811 15.25 8V4.75H8.75V8C8.75 8.19891 8.67098 8.38968 8.53033 8.53033C8.38968 8.67098 8.19891 8.75 8 8.75C7.80109 8.75 7.61032 8.67098 7.46967 8.53033C7.32902 8.38968 7.25 8.19891 7.25 8V4.5C7.25 4.16848 7.3817 3.85054 7.61612 3.61612C7.85054 3.3817 8.16848 3.25 8.5 3.25H15.5C15.8315 3.25 16.1495 3.3817 16.3839 3.61612C16.6183 3.85054 16.75 4.16848 16.75 4.5V8C16.7474 8.19811 16.6676 8.38737 16.5275 8.52747C16.3874 8.66756 16.1981 8.74741 16 8.75Z' fill='%23000000'/%3E%3Cpath d='M15.5 20.75H8.5C8.16848 20.75 7.85054 20.6183 7.61612 20.3839C7.3817 20.1495 7.25 19.8315 7.25 19.5V12.5C7.25 12.1685 7.3817 11.8505 7.61612 11.6161C7.85054 11.3817 8.16848 11.25 8.5 11.25H15.5C15.8315 11.25 16.1495 11.3817 16.3839 11.6161C16.6183 11.8505 16.75 12.1685 16.75 12.5V19.5C16.75 19.8315 16.6183 20.1495 16.3839 20.3839C16.1495 20.6183 15.8315 20.75 15.5 20.75ZM8.75 19.25H15.25V12.75H8.75V19.25Z' fill='%23000000'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-size: 65% !important;
  background-position: center;
  width: 5px;
  height: 5px;
}

.maplibregl-export-list {
  padding: 15px;
}
.generate-button {
  border-radius: 5px !important;
  background-color: rgb(0, 0, 0, 2%) !important;
}
.maplibregl-ctrl button:not(:disabled):hover {
  background-color: rgb(0, 0, 0, 10%) !important;
}
